/* InfoWindowのスタイル */
/* クリック後に表示されるUIのスタイル */
.info-window {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    /* 文字色を黒に設定 */
    background-color: white;
    /* 背景色を白に設定 */
    padding: 0 10px 10px 10px;
    /* 上側のパディングを削除 */
    border-radius: 10px;
    border: 2px solid #0078d7;
    /* 黒い枠線を追加 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* 影を強調 */
    max-width: 300px;
}
