{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>函館トレンドグルメ</title>
    <link rel="stylesheet" href="{% static 'css/screen_filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen_image.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen_fireworks.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen_infowindow.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen_map.css' %}">
    <link rel="stylesheet" href="{% static 'css/screen_trend.css' %}">
</head>

<body>
    <img id="top-left-image" src="{% static 'images/icon.png' %}" alt="Top Left Image"
        onclick="navigateToStartScreen()">
    <div id="map"></div>

    <!-- トレンドのお店 -->
    <div id="trend-name">トレンドのお店▼</div>

    <!-- 店名 -->
    <div id="store-names" style="display: none;"></div>
    <div class="filter-menu">
        <button onclick="filterRestaurants('all')">すべて</button>
        <button onclick="filterRestaurants('few')">開拓者向け (0〜50件)</button>
        <button onclick="filterRestaurants('medium')">失敗しない (51〜200件)</button>
        <button onclick="filterRestaurants('many')"> 人気店(201〜500件)</button>
        <button onclick="filterRestaurants('very-many')">大絶賛(501件以上)</button>
        <button onclick="filterRestaurants('very-very-many')">世界レベル！</button>
    </div>
    <script>
        let map;  // 地図オブジェクトをグローバルに宣言

        document.addEventListener('DOMContentLoaded', function () {
            console.log('DOM fully loaded and parsed');  // デバッグ用ログ

            // JSONデータをパース
            const locations = JSON.parse('{{ fireworks_locations|escapejs }}');
            const storeNamesDiv = document.getElementById('store-names');

            // 各店舗名を追加
            locations.forEach((location) => {
                const storeDiv = document.createElement('div');
                storeDiv.className = 'store-name';
                storeDiv.textContent = location.name;
                storeDiv.dataset.latitude = location.latitude;  // 緯度をデータ属性に追加
                storeDiv.dataset.longitude = location.longitude;  // 経度をデータ属性に追加
                storeNamesDiv.appendChild(storeDiv);
            });

            // トレンドボックスをクリックしたときに店舗名を表示
            document.getElementById('trend-name').addEventListener('click', function () {
                const storeNamesDiv = document.getElementById('store-names');
                console.log('Trend box clicked');  // デバッグ用ログ
                if (storeNamesDiv.style.display === 'none') {
                    // トレンドボックスの下に位置を設定
                    const trendNameRect = document.getElementById('trend-name').getBoundingClientRect();
                    storeNamesDiv.style.top = `${trendNameRect.bottom + window.scrollY}px`;
                    storeNamesDiv.style.display = 'block';
                } else {
                    storeNamesDiv.style.display = 'none';
                }
            });
        });


        function navigateToStartScreen() {
            window.location.href = "{% url 'myapp:Start_Screen' %}"; // URLパターン名を指定
        }

        function filterRestaurants(filter) {
            const url = new URL(window.location.href); // 現在のURLを取得
            url.searchParams.set('filter', filter); // URLのパラメータを更新
            window.location.href = url.toString(); // 更新されたURLにリダイレクト
        }

        function navigateToStartScreen() {
            window.location.href = "{% url 'myapp:Start_Screen' %}"; // URLパターン名を指定
        }
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">
        #ifdef GL_ES
        precision mediump float;
        #endif
        
        uniform vec2 iResolution; // 画面解像度
        uniform float iGlobalTime; // 経過時間
        
        #define PI 3.141592653589793238
        #define S(x, y, z) smoothstep(x, y, z)
        
        #define NUM_PARTICLES 75.0
        #define GRAVITY vec2(0.0, -0.01) // 重力の加速度
        
        #define MOD3 vec3(0.1031, 0.11369, 0.13787)
        vec3 hash31(float p) {
            vec3 p3 = fract(vec3(p) * MOD3);
            p3 += dot(p3, p3.yzx + 19.19);
            return fract(vec3((p3.x + p3.y) * p3.z, (p3.x + p3.z) * p3.y, (p3.y + p3.z) * p3.x));
        }
        
        float light(vec2 uv, vec2 pos, float size) {
            uv -= pos;
            size *= size;
            return size / dot(uv, uv);
        }
        
        vec3 explosion(vec2 uv, vec2 center, float seed, float time) {
            vec3 color = vec3(0.0);
            vec3 baseColor = hash31(seed);
        
            for (float i = 0.0; i < NUM_PARTICLES; i++) {
                float angle = i / NUM_PARTICLES * PI * 2.0;
                vec2 direction = vec2(cos(angle), sin(angle));
                float speed = 0.1 + hash31(i).x * 0.2;
                vec2 velocity = direction * speed;
                vec2 endPos = center + velocity * 0.3;
                vec2 position = mix(center, endPos, S(0.0, 1.0, time));
                position += velocity * time + GRAVITY * time * time;
                float size = mix(0.005, 0.002, S(0.2, 0.8, time));
                size *= S(1.0, 0.2, time);
                color += baseColor * light(uv, position, size);
            }
        
            return color;
        }
        
        vec3 launcher(vec2 uv, vec2 start, vec2 end, float time) {
            vec2 pos = mix(start, end, S(0.0, 0.3, time));
            float size = 0.01 * S(0.0, 0.3, time);
            vec3 color = vec3(1.0, 0.8, 0.6);
            return color * light(uv, pos, size);
        }
        
        void main() {
            vec2 uv = gl_FragCoord.xy / iResolution.xy;
            uv.x -= 0.5;
            uv.x *= iResolution.x / iResolution.y;
        
            float time = fract(iGlobalTime * 0.5);
        
            vec3 color = vec3(0.0);
        
            vec2 launchStart = vec2(0.0, -0.5);
            vec2 launchEnd = vec2(0.0, 0.4);
        
            if (time < 0.3) {
                color += launcher(uv, launchStart, launchEnd, time);
            } else {
                float explosionTime = (time - 0.3) / 0.7;
                color += explosion(uv, launchEnd, 1.0, explosionTime);
            }
        
            // 黒を透過させるためにアルファ値を計算
            float alpha = length(color); // 色の強さをアルファ値として使用
            gl_FragColor = vec4(color, alpha);
        }
      </script>


    <script>
        function renderfireworks(canvas) {

            //webGLのコンテキストを取得
            const gl = canvas.getContext('webgl');
            //背景を透明にする
            gl.clearColor(0, 0, 0, 0);
            gl.clear(gl.COLOR_BUFFER_BIT);

            const resizeCanvas = () => {
                canvas.width = 100; //画面の幅
                canvas.height = 100; //画面の高さ
                gl.viewport(0, 0, gl.drawingBufferWidth, gl.drawingBufferHeight);
            };

            window.addEventListener('resize', resizeCanvas);
            resizeCanvas();
            //頂点シェーダのソースコード
            const vertexShaderSource = `
                attribute vec4 a_position;
                void main() {
                    gl_Position = a_position;
                }
            `;

            const fragmentShaderSource = document.getElementById('fragmentShader').textContent;
            //シェーダを作成する関数
            const createShader = (gl, type, source) => {
                const shader = gl.createShader(type);
                gl.shaderSource(shader, source);
                gl.compileShader(shader);
                if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
                    console.error(gl.getShaderInfoLog(shader));
                    gl.deleteShader(shader);
                    return null;
                }
                return shader;
            };
            //頂点シェーダとフラグメントシェーダを作成
            const vertexShader = createShader(gl, gl.VERTEX_SHADER, vertexShaderSource);
            const fragmentShader = createShader(gl, gl.FRAGMENT_SHADER, fragmentShaderSource);

            const program = gl.createProgram();
            gl.attachShader(program, vertexShader);
            gl.attachShader(program, fragmentShader);
            gl.linkProgram(program);
            if (!gl.getProgramParameter(program, gl.LINK_STATUS)) {
                console.error(gl.getProgramInfoLog(program));
            }

            gl.useProgram(program);

            const positionBuffer = gl.createBuffer();
            gl.bindBuffer(gl.ARRAY_BUFFER, positionBuffer);
            gl.bufferData(gl.ARRAY_BUFFER, new Float32Array([
                -1, -1,
                1, -1,
                -1, 1,
                -1, 1,
                1, -1,
                1, 1,
            ]), gl.STATIC_DRAW);

            const positionLocation = gl.getAttribLocation(program, "a_position");
            gl.enableVertexAttribArray(positionLocation);
            gl.vertexAttribPointer(positionLocation, 2, gl.FLOAT, false, 0, 0);

            const iResolutionLocation = gl.getUniformLocation(program, "iResolution");
            const iGlobalTimeLocation = gl.getUniformLocation(program, "iGlobalTime");

            let startTime = performance.now();
            const render = () => {
                gl.uniform2f(iResolutionLocation, canvas.width, canvas.height);
                gl.uniform1f(iGlobalTimeLocation, (performance.now() - startTime) / 1000);

                gl.drawArrays(gl.TRIANGLES, 0, 6);
                requestAnimationFrame(render);
            };
            //レンダリングを開始
            render();
        }


        // initMap関数をwindowオブジェクトに設定
        window.initMap = function () {

            // 地図の作成
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 41.7648, lng: 140.7267 },  // 函館山の緯度経度
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                mapTypeControl: false,  // ここで地図タイプの選択タブを非表示にする
                tilt: 45,//角度をつける
                styles: [
                    { featureType: "poi", elementType: "labels", stylers: [{ visibility: "off" }] },
                    { featureType: "transit", elementType: "labels", stylers: [{ visibility: "off" }] },
                    { featureType: "road", elementType: "labels", stylers: [{ visibility: "off" }] },
                    { featureType: "administrative", elementType: "labels", stylers: [{ visibility: "on" }] }
                ]
            });
            // 地図のオーバーレイを作成して花火を描画
            class FireworkOverlay extends google.maps.OverlayView {
                constructor(map, lat, lng, baseSize = 100, storeDetails) {
                    super();
                    this.map = map;
                    this.lat = lat;
                    this.lng = lng;
                    this.baseSize = baseSize;
                    this.storeDetails = storeDetails; // 店の詳細情報を追加
                    this.div = null;
                    this.setMap(map);
                }

                // オーバーレイを初期化
                onAdd() {
                    const div = document.createElement('canvas');
                    div.classList.add('fireworks');
                    renderfireworks(div);
                    this.div = div;
                    const panes = this.getPanes();
                    panes.overlayLayer.appendChild(div);
                    this.positionFirework();
                    // マーカーを追加
                    const marker = new google.maps.Marker({
                        position: { lat: this.lat, lng: this.lng },
                        map: this.map,
                        title: '花火の位置',
                        icon: {
                            url: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png', // カスタムアイコンのURL
                            scaledSize: new google.maps.Size(30, 30) // アイコンのサイズを指定
                        }
                    });

                    // InfoWindowを作成
                    const infowindow = new google.maps.InfoWindow({
                        content: `<div class="info-window"><h3>${this.storeDetails.name}</h3><p class="address">${this.storeDetails.description}</p></div>`
                    });

                    // マーカークリック時にInfoWindowを表示
                    marker.addListener('click', () => {
                        infowindow.open(this.map, marker);
                    });
                }
                // 花火の位置を設定
                positionFirework() {

                    const projection = this.getProjection();
                    const reviewOffset = this.storeDetails.review_count / 40000; // レビュー数に基づくオフセットを計算
                    const position = projection.fromLatLngToDivPixel(new google.maps.LatLng(this.lat + reviewOffset, this.lng));
                    // 現在のズームレベルを取得
                    const zoomLevel = this.map.getZoom();
                    // ズームレベルに基づいてスケールを計算(指数関数的にでかくなってくれる)
                    const baseZoom = 15;
                    const scale = Math.pow(2, (zoomLevel - baseZoom));
                    // 基本サイズ100pxをスケールで調整
                    const size = this.baseSize * scale;
                    let fireworkSize = this.baseSize * scale; // `let` を使用して変数を宣言

                    // キャンバスのサイズを更新
                    // レビュー数が1000件を超えた場合、上昇度を抑える
                    if (this.storeDetails.review_count > 1000) {
                        fireworkSize = 1000 + (this.storeDetails.review_count / 50000);
                    }
                    this.div.style.width = `${size}px`;
                    this.div.style.height = `${size}px`;
                    this.div.style.left = `${position.x - size / 2}px`;
                    this.div.style.top = `${position.y - size / 2}px`;
                }
                // オーバーレイを描画
                draw() {
                    this.positionFirework();
                }
            }
            // views.pyから渡された花火の位置情報を使用して花火を表示
            const fireworksLocations = JSON.parse('{{ fireworks_locations|escapejs }}');
            fireworksLocations.forEach(location => {
                const lat = location.latitude;
                const lng = location.longitude;
                //クリックしたときに店名を表示
                const storeDetails = {
                    name: decodeURIComponent(location.name),
                    description: decodeURIComponent(location.description),
                    review_count: location.review_count // レビュー数を追加
                };
                console.log(storeDetails); // デバッグ用のログ    
                new FireworkOverlay(map, lat, lng, location.review_count, storeDetails);
            });
        }
    </script>
    <!-- Google Maps JavaScript API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap"
        async defer></script>

</body>

</html>